In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
tips = pd.get_dummies(df[['sex', 'smoker', 'time']])
tips.head()

   sex_Male  sex_Female  smoker_Yes  smoker_No  time_Lunch  time_Dinner
0         0           1           0          1           0            1
1         1           0           0          1           0            1
2         1           0           0          1           0            1
3         1           0           0          1           0            1
4         0           1           0          1           0            1

In [ ]:
pip install --upgrade category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [ ]:
from category_encoders import BinaryEncoder

In [ ]:
binary_encoder = BinaryEncoder(cols = ['day'])
df_enc = binary_encoder.fit_transform(df['day'])

In [ ]:
df.day.unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [ ]:
df_enc

     day_0  day_1  day_2
0        0      0      1
1        0      0      1
2        0      0      1
3        0      0      1
4        0      0      1
..     ...    ...    ...
239      0      1      0
240      0      1      0
241      0      1      0
242      0      1      0
243      0      1      1

[244 rows x 3 columns]

In [ ]:
tips = pd.concat([df_enc, tips], axis = 1)
tips.head()

,day_0,day_1,day_2,sex_Male,sex_Female,smoker_Yes,smoker_No,time_Lunch,time_Dinner
0,0,0,1,0,1,0,1,0,1
1,0,0,1,1,0,0,1,0,1
2,0,0,1,1,0,0,1,0,1
3,0,0,1,1,0,0,1,0,1
4,0,0,1,0,1,0,1,0,1

In [ ]:
from sklearn.preprocessing import RobustScaler

In [ ]:
robust = RobustScaler()

In [ ]:
tips['total_bill'] = robust.fit_transform(df[['total_bill']])

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips['tip'] = df['tip']
tips.head()

,day_0,day_1,day_2,sex_Male,sex_Female,smoker_Yes,smoker_No,time_Lunch,time_Dinner,total_bill,tip
0,0,0,1,0,1,0,1,0,1,-0.074675,1.01
1,0,0,1,1,0,0,1,0,1,-0.691558,1.66
2,0,0,1,1,0,0,1,0,1,0.298237,3.50
3,0,0,1,1,0,0,1,0,1,0.545918,3.31
4,0,0,1,0,1,0,1,0,1,0.630334,3.61

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
X = tips.drop(columns = 'tip')
y = tips['tip']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10, test_size = 0.3)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
mean_squared_error(y_test, y_pred)

1.0701384159269316

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.DataFrame({
    'x1':[4,5,np.nan,6,7,9],
    'x2':[3,5,6,5,np.nan,5],
    'x3':[10,11,12,9,8,11],
    'x4':['A','A','C','C','D',np.nan],
    'x5':['X','Y','X','X',np.nan,'Y'],
    'x6':['M','M',np.nan,'M','N',np.nan]
    })

In [ ]:
df

    x1   x2  x3   x4   x5   x6
0  4.0  3.0  10    A    X    M
1  5.0  5.0  11    A    Y    M
2  NaN  6.0  12    C    X  NaN
3  6.0  5.0   9    C    X    M
4  7.0  NaN   8    D  NaN    N
5  9.0  5.0  11  NaN    Y  NaN

In [ ]:
imp = SimpleImputer(strategy = 'median')
df[['x1', 'x2', 'x3']] = imp.fit_transform(df[['x1', 'x2', 'x3']])
df.head()

    x1   x2    x3 x4   x5   x6
0  4.0  3.0  10.0  A    X    M
1  5.0  5.0  11.0  A    Y    M
2  6.2  6.0  12.0  C    X  NaN
3  6.0  5.0   9.0  C    X    M
4  7.0  4.8   8.0  D  NaN    N

In [ ]:
imp_mode = SimpleImputer(strategy = 'most_frequent')
df[['x4', 'x5']] = imp_mode.fit_transform(df[['x4', 'x5']])
df.head()

    x1   x2    x3 x4 x5   x6
0  4.0  3.0  10.0  A  X    M
1  5.0  5.0  11.0  A  Y    M
2  6.2  6.0  12.0  C  X  NaN
3  6.0  5.0   9.0  C  X    M
4  7.0  4.8   8.0  D  X    N

In [ ]:
imp_constant = SimpleImputer(strategy = 'constant', fill_value = 'N')
df[['x6']] = imp_constant.fit_transform(df[['x6']])
df.head()

    x1   x2    x3 x4 x5 x6
0  4.0  3.0  10.0  A  X  M
1  5.0  5.0  11.0  A  Y  M
2  6.2  6.0  12.0  C  X  N
3  6.0  5.0   9.0  C  X  M
4  7.0  4.8   8.0  D  X  N

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
df = pd.DataFrame({
    'x1':[4.3,5.1,np.nan,6.3,7.4,9.1],
    'x2':[2.9,5.1,6.3,4.9,np.nan,5.4],
    'x3':[9,11.1,np.nan,8.9,9.1,11.0],
    'x4':['A','A','C','C','D','D']
    })

In [ ]:
df

    x1   x2    x3 x4
0  4.3  2.9   9.0  A
1  5.1  5.1  11.1  A
2  NaN  6.3   NaN  C
3  6.3  4.9   8.9  C
4  7.4  NaN   9.1  D
5  9.1  5.4  11.0  D

In [ ]:
imp_iter = IterativeImputer()
df[['x1', 'x2', 'x3']] = imp_iter.fit_transform(df[['x1', 'x2', 'x3']])
df.head()

        x1        x2         x3 x4
0  4.30000  2.900000   9.000000  A
1  5.10000  5.100000  11.100000  A
2  7.18363  6.300000   9.823389  C
3  6.30000  4.900000   8.900000  C
4  7.40000  5.073866   9.100000  D

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
df = pd.DataFrame({
    'x1':[4.3,5.1,np.nan,6.3,7.4,9.1],
    'x2':[2.9,5.1,6.3,4.9,np.nan,5.4],
    'x3':[9,11.1,np.nan,8.9,9.1,11.0],
    'x4':['A','A','C','C','D','D']
    })

In [ ]:
knn_iter = IterativeImputer()
df[['x1', 'x2', 'x3']] = knn_iter.fit_transform(df[['x1', 'x2', 'x3']])
df.head()

        x1        x2         x3 x4
0  4.30000  2.900000   9.000000  A
1  5.10000  5.100000  11.100000  A
2  7.18363  6.300000   9.823389  C
3  6.30000  4.900000   8.900000  C
4  7.40000  5.073866   9.100000  D